<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登陆</title>
    <link rel="stylesheet" href="/css/page.css" />
  </head>

  <body>
    <div class="content">
      <div class="content-box">
        <div class="title">
          <h2>登陆</h2>
        </div>
        <div class="home">
          <a href="/reg">去注册</a>
        </div>
        <form action="/login" method="post" autocomplete="off">
          <div class="form-item">
            <label for="username">用户名</label>
            <input class="control" type="text" name="username" id="username" required/>
          </div>
          <div class="form-item">
            <label for="password">密码</label>
            <input class="control" type="text" name="password" id="password" required/>
          </div>
          <hr />
          <button>登陆</button>
        </form>
      </div>
    </div>
  </body>
</html>
